$medium-text-size: 14px; /* Main text size for web site */
$small-text-size: $medium-text-size - 2; /* Small text size for web site */
$large-text-size: $medium-text-size + 6; /* Large text size for web site */

$dark-text-color: #424242;
$light-text-color: #9E9E9E;
$light-text-color: #9E9E9E;


$primary-color: #29B6F6; /* Primary colro for web site, using for toolbar(header) and other controls */
$divider-color: #d3d3d3;

$default-spacing: 10px;

$toolbar-height: 40px;
$navigation-width: 280px;

$cation-color: red;
$cation-text-color: white;

@font-face {
    font-family: RobotoRegular;
    src: url("../fonts/Roboto-Regular-webfont.woff");
}

@font-face {
  font-family: Ionicons;
  src: url("../fonts/ionicons.woff");
}

html {
  height: 100%;
}

body {
  font-family: RobotoRegular;
  margin: 0px;
  height: 100%;
  color: #616161;
  font-size: $medium-text-size;
}

.e-content {
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  overflow: hidden;
}

.e-content__header {
}

.e-content__body {
  overflow-y: auto;
  height: calc(100% - #{$toolbar-height});
}

.e-list-item {
  padding: $default-spacing;
  border-bottom: 1px solid $divider-color;
  width: 100%;
  box-sizing: border-box;
}

.e-group-title {
  font-weight: bold;
  background-color: #EEE;
  border-bottom: 1px solid #E0E0E0;
}

.e-caution {
  margin-top: $default-spacing;
  color: $cation-text-color;
  background-color: $cation-color;
  border: 1px solid $cation-color;
  text-align: center;
}

.e-name {
  margin: $default-spacing; /*use margin for margin collapsing*/
  color: $dark-text-color;
  font-weight: bold;
  font-size: $large-text-size;
}

.e-additional {
  margin: $default-spacing; /*use margin for margin collapsing*/
  font-weight: bold;
  font-size: $medium-text-size;
}

.e-toolbar span {
  vertical-align: middle;
}

.e-toolbar {
  padding: 0 $default-spacing;
  box-sizing: border-box;
  width: 100%;
  background-color: $primary-color;
  height: $toolbar-height;
  line-height: $toolbar-height;
  color: #FFF;
}

.e-toolbar > div {
  display: inline-block;
  box-sizing: border-box;
}

.e-toolbar__nav{
  width: 30%;
}

.e-toolbar__title{
  font-weight: bold;
  text-align: center;
  width: 40%;
}

.e-toolbar__menu{
  width: 30%;
  text-align: right;
}

.e-font-icon {
  font-family: "Ionicons";
  font-size: 24px;
}

.e-toolbar__nav .e-font-icon::before{
  content: "\f124";
}
