$medium-text-size: 14px; /* Main text size for web site */
$small-text-size: $medium-text-size - 2; /* Small text size for web site */
$large-text-size: $medium-text-size + 6; /* Large text size for web site */

$dark-text-color: #424242;
$light-text-color: #9E9E9E;
$light-text-color: #9E9E9E;
$cation-text-collor: white;

$cation-collor: red;
$primary-color: #29B6F6; /* Primary colro for web site, using for toolbar(header) and other controls */

$default-spacing: 10px;
$toolbar-height: 40px;

@font-face {
    font-family: RobotoRegular;
    src: url(Roboto-Regular-webfont.woff);
}

html {
  height: 100%;
}

body {
  font-family: RobotoRegular;
  margin: 0px;
  height: 100%;
  color: #616161;
  font-size: $medium-text-size;
}

.e-content {
  padding-top: $toolbar-height;
}

.e-list-item {
  padding: $default-spacing;
  border-bottom: 1px solid #d3d3d3;
  width: 100%;
  box-sizing: border-box;
}

.e-toolbar span, img{
  display: inline-block;
  margin: 0;
  padding: 0;

  vertical-align: middle;
}

.e-toolbar {
  position: fixed;
  background-color: $primary-color;
  height: $toolbar-height;
  width: 100%;
  color: #FFF;
}

.e-toolbar img{
  width: 36px;
  height: 36px;
}

.e-toolbar .e-drawerAndUp{
  display: inline-block;
  width: 30%;
  padding-top: 2px;
  padding-left: 4px;
  box-sizing: border-box;
}

.e-toolbar .e-title{
  display: inline-block;
  font-weight: bold;
  text-align: center;
  width: 40%;
  box-sizing: border-box;
}

.e-toolbar .e-menu{
  display: inline-block;
  width: 30%;
  text-align: right;
  box-sizing: border-box;
  padding-right: 8px;
}

.e-group-title {
  font-weight: bold;
  background-color: #EEEEEE;
  border-bottom: 1px solid #E0E0E0;
}

.e-name {
  margin: $default-spacing; /*use margin for margin collapsing*/
  color: $dark-text-color;
  font-weight: bold;
  font-size: $large-text-size;
}

.e-additional {
  margin: $default-spacing; /*use margin for margin collapsing*/
  font-weight: bold;
  font-size: $medium-text-size;
}

.e-caution {
  margin-top: 24px;
  color: $cation-text-collor;
  background-color: $cation-collor;
  text-align: center;
}
