$main-text-size: 14px; /* Main text size for web site */
$primary-color: #29B6F6; /* Primary colro for web site, using for toolbar(header) and other controls */
$default-spacing: 10px;
$toolbar-height: 40px;

@font-face {
    font-family: RobotoRegular;
    src: url(Roboto-Regular-webfont.woff);
}

html {
  height: 100%;
}

body {
  font-family: RobotoRegular;
  margin: 0px;
  height: 100%;
  color: #616161;
  font-size: $main-text-size;
}

.toolbar {
  position: fixed;
  background-color: $primary-color;
  height: $toolbar-height;
  width: 100%;
  color: #FFF;
}

.content {
  padding-top: $toolbar-height;
}
