@import 'navigated.base';

@media (max-width: 801px), (orientation: portrait) {
  .e-navigation {
    position: absolute;
    left: -$navigation-width;
    top: 0;
  }

  .e-content {
    position: absolute;
    left: 0;
    top: 0;
  }
}
