@import 'base';

.e-navigation {
  width: $navigation-width;
  height: 100%;
  box-sizing: border-box;
  border-right: 1px solid $divider-color;
  overflow: hidden;
}

.e-content {
  position: absolute;
  left: $navigation-width;
  top: 0;
}

.e-toolbar__nav .e-font-icon::before{
  content: "\f394";
}
