@import 'base';

.e-navigation {
  width: $navigation-width;
  height: 100%;
  box-sizing: border-box;
  border-right: 1px solid $divider-color;
  overflow: hidden;
}

.e-content {
  position: absolute;
  left: $navigation-width;
  top: 0;
}

@media (min-width: 801px) and (orientation: landscape) {
  html, body {
    overflow: hidden;
  }
  .e-navigation {
    display: inline-block;
    position: static;
  }

  .e-content {
    display: inline-block;
    position: static;
    box-sizing: border-box;
    width: calc(100% - #{$navigation-width});
  }
}
