@import 'base';

.e-navigation {
  width: $navigation-width;
  height: 100%;
  box-sizing: border-box;
  border-right: 1px solid $divider-color;
  overflow: hidden;
}

.e-content {
  position: absolute;
  left: $navigation-width;
  top: 0;
}

.ua-android {
  .e-content__toolbar  {
    position: absolute;
    top: 0;
    left: 0;
  }

  .e-content__body {
    position: absolute;
    top: $toolbar-height;
    left: 0;
    right: 0;
    height: calc(100% - #{$toolbar-height});
  }
}

@media (min-width: 801px) and (orientation: landscape) {
  html, body {
    overflow: hidden;
  }
  .e-navigation {
    display: inline-block;
    position: static;
  }

  .e-content {
    display: inline-block;
    position: static;
    box-sizing: border-box;
    width: calc(100% - #{$navigation-width});
  }

  .ua-android {
    .e-content {
      position: relative;
      left: 0;
    }
  }
}
