@import 'navigated.base';

$thumbnail-height: 72px;
$switcher-size: 20px;
$switcher-transform: $switcher-size * 0.75;


.e-search input[type="search"] {
  display: inline-block;
  border: 0;
  width: calc(100% - #{$medium-text-size});
}

.e-search .e-font-icon {
  color: gray;
  font-size: $medium-text-size;
}

.e-thumbnail__avatar {
    height: $thumbnail-height;
    width: $thumbnail-height;
    box-sizing: border-box;
    border: 1px solid #E0E0E0;
}

.e-thumbnail__short-info {
  display: inline-block;
}

.e-short-info {
  padding-left: $default-spacing;
  vertical-align: top;
}

.e-short-info__name {
  margin: 0px;
}

.e-short-info__title {
  color: $dark-text-color;
  font-size: $small-text-size;
  margin: 0px;
  font-weight: bold;
}

.e-short-info__tasks {
  font-size: $small-text-size;
  margin: 4px auto 0px;
  color: $light-text-color;
}

.e-switcher {
  justify-content: space-between;
  display: flex;
  width: 100%;
}

input[name="customized-switcher"] {
  display: none;
}

input[name="customized-switcher"] + div {
  display: block;
  transition: all 0.3s ease-in 0s;
  border: 1px solid #CCC;
  border-radius: $switcher-size+2;
  width: $switcher-size+$switcher-transform+2;
  height: $switcher-size+2;
  box-sizing: border-box;
}

input[name="customized-switcher"]:checked + div {
  background-color: $primary-color;
  border-color: $primary-color;
}

input[name="customized-switcher"] + div > label {
  display: block;
  border: 1px solid #FFF;
  border-radius: $switcher-size;
  background-color: #FFF;
  width: $switcher-size;
  height: $switcher-size;
  box-sizing: border-box;
  transition: all 0.3s ease-in 0s;
  box-shadow: 1px 1px 5px gray;
}

input[name="customized-switcher"]:checked + div> label {
  transform: translate($switcher-transform);
  border-color: $primary-color;
}


/*Min for portrait tablet*/
@media screen and (min-width: 600px) {

  .e-search.e-list-item {
    width: 66%;
  }

  label[for="customized-switcher"] {
    order: 2;
    width: 33%;
  }

  .e-switcher.e-list-item {
    width: 100%;
  }
}
