@import 'navigated.base';

$thumbnail-height: 72px;

.e-thumbnail  {
  min-height: $thumbnail-height;
}

.e-thumbnail__avatar {
    height: $thumbnail-height;
    width: $thumbnail-height;
    box-sizing: border-box;
    border: 1px solid #E0E0E0;
}

.e-search input[type="search"] {
  display: inline-block;
  width: 100%;
}

.e-thumbnail__short-info {
  display: inline-block;
}

.e-short-info {
  padding-left: $default-spacing;
  vertical-align: top;
}

.e-short-info__name {
  margin: 0px;
}

.e-short-info__title {
  color: $dark-text-color;
  margin: 0px;
  font-weight: bold;
}

.e-short-info__tasks {
  font-size: $small-text-size;
  margin: 4px auto 0px;
  color: $light-text-color;
}

.e-switcher {
  justify-content: space-between;
  display: flex;
}
