<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="../styles/styles.css"/>
    <link rel="stylesheet" type="text/css" href="../styles/drawer.css"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <title>Drawer</title>
  </head>
  <body>
    <div class="drawer">
      <div class="draweritem">
        Pool
      </div>
      <div class="draweritem">
        Tasks
      </div>
      <div class="exitdraweritem">
        Exit
      </div>
    </div>
  </body>
</html>
