<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="../styles/styles.css"/>
    <link rel="stylesheet" type="text/css" href="../styles/poolmember.css"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <title>Pool member</title>
  </head>
  <body>
    <table class="toolbar">
      <tr>
        <td class="drawerAndUp">
          <img src="../images/ic_chevron_left.png" alt="Navigate up"/>
          <span>Pool</span>
        </td>
        <td class="title">
          <span>Lorem ipsum</span>
        </td>
        <td class="menu">
        </td>
      </tr>
    </table>
    <div class="content">
      <img class="photo" src="../images/ic_account_grey600_big.png" alt="Pool member photo"/>
      <hr class="divider"/>
      <h2>Lorem ipsum</h2>
      <h3>Mega Chelovek</h3>
      <div class="grouptitle topbordered">Task in progress</div>
      <div class="listitem">Estimations</div>
      <div class="listitem">Presentation</div>
      <div class="grouptitle">Done</div>
      <div class="listitem">Tech-talk</div>
    </div
  </body>
</html>
