<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="../styles/styles.css"/>
    <link rel="stylesheet" type="text/css" href="../styles/pool.css"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <title>Pool</title>
  </head>
  <body>
    <div class="actionbar">
      <img class="opendrawer" src="../images/ic_menu_white.png" alt="Open drawer"/>
      <span>Pool</span>
    </div>
    <div class="content">
      <div class="switcheritem">Inactive only
        <div class="onoffswitch">
          <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="myonoffswitch" checked>
          <label class="onoffswitch-label" for="myonoffswitch"></label>
        </div>
      </div>
      <div class="search"><img src="../images/ic_search.png" alt="Search"/><span>Search</span></div>
      <div class="grouptitle">Active</div>
      <div class="groupitem">
        <img src="../images/ic_account_grey600.png" alt="Pool member photo"/>
        <div class="shortinfo">
          <p class="name">lorem ipsum</p>
          <p class="title">Mega Chelovek</p>
          <p class="tasks">3 tasks</p>
        </div>
      </div>
      <div class="groupitem">
        <img src="../images/ic_account_grey600.png" alt="Pool member photo"/>
        <div class="shortinfo">
          <p class="name">lorem ipsum</p>
          <p class="title">Mega Chelovek</p>
          <p class="tasks">3 tasks</p>
        </div>
      </div>
      <div class="grouptitle">Inactive</div>
      <div class="groupitem">
        <img src="../images/ic_account_grey600.png" alt="Pool member photo"/>
        <div class="shortinfo">
          <p class="name">lorem ipsum</p>
          <p class="title">Mega Chelovek</p>
          <p class="tasks">3 tasks</p>
        </div>
      </div>
    </div>
  </body>
</html>
