<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="../styles/styles.css"/>
    <link rel="stylesheet" type="text/css" href="../styles/poolmember.css"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <title>Pool member</title>
  </head>
  <body>
    <table class="toolbar">
      <tr>
        <td class="drawerAndUp">
          <img src="../images/ic_chevron_left.png" alt="Navigate up"/>
          <span>Pool</span>
        </td>
        <td class="title">
          <span>Lorem ipsum</span>
        </td>
        <td class="menu">
        </td>
      </tr>
    </table>
    <div class="content">
      <img class="photo" src="../images/ic_account_grey600_big.png" alt="Pool member photo"/>
      <div class="poolmemberinfo">
        <p class="name">Lorem ipsum</p>
        <p class="title">Mega Chelovek</p>
        <div class="grouptitle">Task in progress</div>
        <div class="groupitem">Estimations</div>
        <div class="groupitem">Presentation</div>
        <div class="grouptitle">Done</div>
        <div class="groupitem">Tech-talk</div>
      </div">
    </div
  </body>
</html>
