<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="../styles/styles.css"/>
    <link rel="stylesheet" type="text/css" href="../styles/poolmember.css"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <title>Pool member</title>
  </head>
  <body>
    <div class="toolbar">
      <div class="drawerAndUp">
        <img src="../images/ic_chevron_left.png" alt="Navigate up"/>
        <span>Pool</span>
      </div><div class="title">
        <span>Lorem ipsum</span>
      </div><div class="menu">
      </div>
    </div>
    <div class="content">
      <img class="photo" src="../images/ic_account_grey600_big.png" alt="Pool member photo"/>
      <hr class="divider"/>
      <p class="texttitle">Lorem ipsum</p>
      <p class="textsubtitle">Mega Chelovek</p>
      <div class="grouptitle topbordered">Task in progress</div>
      <div class="listitem">Estimations</div>
      <div class="listitem">Presentation</div>
      <div class="grouptitle">Done</div>
      <div class="listitem">Tech-talk</div>
    </div
  </body>
</html>
