<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="../styles/styles.css"/>
    <link rel="stylesheet" type="text/css" href="../styles/tasks.css"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <title>Tasks</title>
  </head>
  <body>
    <div class="actionbar">
      <img class="opendrawer" src="../images/ic_menu_white.png" alt="Open drawer"/>
      <span>Tasks</span>
      <img class="menu" src="../images/ic_plus.png" alt="Open drawer"/>
    </div>
    <div class="content">
      <div class="grouptitle">Unassigned</div>
      <div class="groupitem">Thing 1</div>
      <div class="grouptitle">On going</div>
      <div class="groupitem">Thing 1</div>
    </div>
  </body>
</html>
