<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="../styles/styles.css"/>
      <link rel="stylesheet" type="text/css" href="../styles/taskdetails.css"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <title>Task details</title>
  </head>
  <body>
    <div class="toolbar">
      <div class="drawerAndUp">
        <img src="../images/ic_chevron_left.png" alt="Navigate up"/>
        <span>Tasks</span>
      </div><div class="title">
        <span>Tasks</span>
      </div><div class="menu">
      </div>
    </div>
    <div class="content">
      <p class="texttitle">Task title</p>
      <p class="textsubtitle">sub task title</p>
      <p class="taskassignee">Task assignee</p>
      <p class="taskperiod">from Nov - to Dec</p>
      <p class="taskimportance">!!!high importance</p>
      <div class="cautionbutton">
        Delete
      </div>
    </div>
  </body>
</html>
