<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="../styles/styles.css"/>
    <link rel="stylesheet" type="text/css" href="../styles/tasks.css"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <title>Tasks</title>
  </head>
  <body>
    <table class="toolbar">
      <tr>
        <td class="drawerAndUp">
          <img class="opendrawer" src="../images/ic_menu_white.png" alt="Open drawer"/>
        </td>
        <td class="title">
          <span>Tasks</span>
        </td>
        <td class="menu">
          <img class="menu" src="../images/ic_plus.png" alt="Add new task"/>
        </td>
      </tr>
    </table>
    <div class="content">
      <div class="grouptitle">Unassigned</div>
      <div class="listitem">Thing 1</div>
      <div class="grouptitle">On going</div>
      <div class="listitem">Thing 1</div>
    </div>
  </body>
</html>
