<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="../styles/styles.css"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <title>Tasks</title>
  </head>
  <body>
    <div class="toolbar">
      <div class="drawerAndUp">
        <img src="../images/ic_menu_white.png" alt="Open drawer"/>
      </div><div class="title">
        <span>Tasks</span>
      </div><div class="menu">
        <img src="../images/ic_plus.png" alt="Add new task"/>
      </div>
    </div>
    <div class="content">
      <div class="group-title">Unassigned</div>
      <div class="list-item">Thing 1</div>
      <div class="group-title">On going</div>
      <div class="list-item">Thing 1</div>
    </div>
  </body>
</html>
