

/* Define style for exit button in drawer */
.caution-button {
  margin-top: 6px;
  padding: 10px;
  color: white;
  background-color: red;
  text-align: center;
}

.top-bordered {
  border-top: 1px solid #E0E0E0;
}


.drop-down-item {
  display: flex;
  justify-content: space-between;
}

.checked-item {
  padding: 6px 8px;
  line-height: 36px;
  display: flex;
  justify-content: flex-start;
}

.dropdawn-arroy {
  margin: auto 0;
  display: inline-block;
  border-top: 5px solid #616161;
  border-left: 5px solid #FFF;
  border-right: 5px solid #FFF;
  height: 0px;
  width: 0px;
}

.custom-checkbox-container {
    margin: auto 8px auto 0;
}

p {
  margin: 8px;
}
