<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="../styles/addtask.css"/>
    <link rel="stylesheet" type="text/css" href="../styles/styles.css"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <title>Add task</title>
  </head>
  <body>
    <div class="toolbar">
      <div class="drawerAndUp">
        <img src="../images/ic_chevron_left.png" alt="Navigate up"/>
        <span>Tasks</span>
      </div><div class="title">
        <span>Add task</span>
      </div><div class="menu">
        <bottom id="addNewTask">Done</button>
      </div>
    </div>
    <div class="content">
      <div class="list-item">Task name</div>
      <div class="list-item">Description</div>
      <div class="list-item">Start date</div>
      <div class="list-item">End date</div>
      <div class="list-item drop-down-item">Assignee<div class="drop-dawn-arroy"></div></div>
      <div class="list-item checked-item">
        <div class="custom-checkbox-container">
          <input type="checkbox" id="customized-checkbox" name="customized-checkbox"/>
          <label for="customized-checkbox"></label>
        </div>
        High importance
      </div>
    </div>
  </body>
</html>
