<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="../styles/addtask.css"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <meta charset="utf-8">
    <title>Add task</title>
  </head>
  <body>
    <div class="e-content">
      <header class="e-content__header e-toolbar">
          <div class="e-toolbar__nav">
            <img src="../images/ic_chevron_left.png" alt="Navigate up"/>
            <span>Tasks</span>
          </div>
          <div class="e-toolbar__title">
            <span>Add task</span>
          </div>
          <div class="e-toolbar__menu">
            <bottom id="addNewTask">Done</button>
          </div>
      </header>
      <main class="e-content__body">
        <div class="e-list-item e-param">
          <span class="e-param__name">Task name</span>
          <input class="e-param__value" type="text" id="task-name"/>
        </div>

        <div class="e-list-item e-param">
          <span class="e-param__name">Description</span>
          <input class="e-param__value" type="text" id="task-desc"/>
        </div>

        <div class="e-list-item e-param">
          <span class="e-param__name">Start date</span>
          <input class="e-param__value" type="date" id="start-date"/>
        </div>

        <div class="e-list-item e-param">
          <span class="e-param__name">End date</span>
          <input class="e-param__value" type="date" id="end-date"/>
        </div>

        <div class="e-list-item e-param">
          <span class="e-param__name">Assignee</span>
          <select class="e-param__value" id="end-assignee">
            <option></option>
            <option>Assignee 1</option>
            <option>Assignee 2</option>
            <option>Assignee 3</option>
            <option>Assignee 4</option>
          </select>
        </div>

        <label for="customized-checkbox">
          <div class="e-list-item e-param e-start-direction">
            <div>
              <input type="checkbox" id="customized-checkbox" name="customized-checkbox"/>
              <label for="customized-checkbox"/>
            </div>
            <span>High importance</span>
          </div>
        </label>
      </main>
    </div>
  </body>
</html>
