<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="../styles/drawer.css"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <title>Drawer</title>
  </head>
  <body>
    <div class="e-drawer">
      <div class="e-list-item">
        <span>Pool</span>
      </div>
      <div class="e-list-item">
        <span>Tasks</span>
      </div>
      <div class="e-list-item e-caution">
        <span>Exit</span>
      </div>
    </div>
  </body>
</html>
