<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="../styles/pool.css"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <title>Pool</title>
  </head>
  <body>
    <div class="e-toolbar">
      <div class="e-drawerAndUp">
        <img class="e-opendrawer" src="../images/ic_menu_white.png" alt="Open drawer"/>
      </div><div class="e-title">
        <span>Pool</span>
      </div><div class="e-menu">
      </div>
    </div>
    <div class="e-content">
      <div class="e-list-item e-switcher">
        <span class="e-switcher__name">Inactive only</span>
        <span class="e-switcher__control">SWITCHER CONTROL</span>
      </div>
      <div class="e-list-item e-search"><!--<img src="../images/ic_search.png" alt="Search"/>--><input type="search" placeholder="Search"/></div>
      <div class="e-list-item e-group-title"><span>Active</span></div>
      <div class="e-list-item e-thumbnail">
        <img class="e-thumbnail__avatar" src="../images/ic_account_grey600.png" alt="Pool member photo"/>
        <div class="e-thumbnail__short-info e-short-info">
          <p class="e-short-info__name">lorem ipsum</p>
          <p class="e-short-info__title">Mega Chelovek</p>
          <p class="e-short-info__tasks">3 tasks</p>
        </div>
      </div>
      <div class="e-list-item e-thumbnail">
        <img class="e-thumbnail__avatar" src="../images/ic_account_grey600.png" alt="Pool member photo"/>
        <div class="e-thumbnail__short-info short-info">
          <p class="e-short-info__name">lorem ipsum</p>
          <p class="e-short-info__title">Mega Chelovek</p>
          <p class="e-short-info__tasks">3 tasks</p>
        </div>
      </div>
      <div class="e-list-item e-group-title"><span>Inactive</span></div>
      <div class="e-list-item e-thumbnail">
        <img class="e-thumbnail__avatar" src="../images/ic_account_grey600.png" alt="Pool member photo"/>
        <div class="e-thumbnail__short-info e-short-info">
          <p class="e-short-info__name">lorem ipsum</p>
          <p class="e-short-info__title">Mega Chelovek</p>
          <p class="e-short-info__tasks">3 tasks</p>
        </div>
      </div>
    </div>
  </body>
</html>
