<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="../styles/poolmember.css"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <meta charset="utf-8">
    <title>Pool member</title>
  </head>
  <body>
    <div class="e-content">
      <header class="e-content__toolbar e-toolbar">
          <div class="e-toolbar__nav">
            <span class="e-font-icon">&#xf124;</span>
            <span>Pool</span>
          </div>
          <div class="e-toolbar__title">
            <span>Lorem ipsum</span>
          </div>
          <div class="e-toolbar__menu">
          </div>
      </header>
      <main class="e-content__body">
        <div class="e-pool-member">
          <img class="e-pool-member__avatar e-avatar" src="../images/ic_account_grey600_big.png" alt="Pool member photo"/>
          <hr class="e-pool-member__divider e-divider"/>
          <p class="e-pool-member__name e-name">Lorem ipsum</p>
          <p class="e-pool-member__title e-additional">Mega Chelovek</p>
          <div class="e-pool-member__e-tasks e-tasks">
            <div class="e-list-item e-group-title">
              <span>Task in progress<span>
            </div>
            <div class="e-list">
              <div class="e-list-item">
                <span>Estimations</span>
              </div>
              <div class="e-list-item">
                <span>Presentation</span>
              </div>
            </div>
            <div class="e-list-item e-group-title">
              <span>Done</span>
            </div>
            <div class="e-list">
              <div class="e-list-item">
                <span>Tech-talk</span>
              </div>
            </div>
          </div>
        </div>
      </main>
    </div>
  </body>
</html>
