<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="../styles/pool.css"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <meta charset="utf-8">
    <title>Pool</title>
  </head>
  <body>
    <nav class="e-navigation">
      <div class="e-list-item">
        <span>Pool</span>
      </div>
      <div class="e-list-item">
        <span>Tasks</span>
      </div>
      <div class="e-list-item e-caution">
        <span>Exit</span>
      </div>
    </nav>
    <div class="e-content">
        <header class="e-content__toolbar e-toolbar">
          <div class="e-toolbar__nav">
            <span class="e-font-icon">&#xf394;</span>
          </div>
          <div class="e-toolbar__title">
            <span>Pool</span>
          </div>
          <div class="e-toolbar__menu"></div>
      </header>
      <main class="e-content__body">
        <label for="customized-switcher">
          <div class="e-list-item e-switcher">
            <span class="e-switcher__name">Inactive only</span>
            <div class="e-switcher__control">
              <input type="checkbox" id="customized-switcher" name="customized-switcher"/>
              <div>
                <label for="customized-switcher"></label>
              </div>
            </div>
          </div>
        </label>
        <div class="e-list-item e-search">
          <span class="e-font-icon">&#xf2f5;</span>
          <input type="search" placeholder="Search"/>
        </div>
        <div class="e-list-item e-group-title">
          <span>Active</span>
        </div>
        <div class="e-list">
          <div class="e-list-item e-thumbnail">
            <img class="e-thumbnail__avatar" src="../images/ic_account_grey600.png" alt="Pool member photo"/>
            <div class="e-thumbnail__short-info e-short-info">
              <p class="e-short-info__name">lorem ipsum</p>
              <p class="e-short-info__title">Mega Chelovek</p>
              <p class="e-short-info__tasks">3 tasks</p>
            </div>
          </div>
          <div class="e-list-item e-thumbnail">
            <img class="e-thumbnail__avatar" src="../images/ic_account_grey600.png" alt="Pool member photo"/>
            <div class="e-thumbnail__short-info e-short-info">
              <p class="e-short-info__name">lorem ipsum</p>
              <p class="e-short-info__title">Mega Chelovek</p>
              <p class="e-short-info__tasks">3 tasks</p>
            </div>
          </div>
        </div>
        <div class="e-list-item e-group-title">
          <span>Inactive</span>
        </div>
        <div class="e-list">
          <div class="e-list-item e-thumbnail">
            <img class="e-thumbnail__avatar" src="../images/ic_account_grey600.png" alt="Pool member photo"/>
            <div class="e-thumbnail__short-info e-short-info">
              <p class="e-short-info__name">lorem ipsum</p>
              <p class="e-short-info__title">Mega Chelovek</p>
              <p class="e-short-info__tasks">3 tasks</p>
            </div>
          </div>
        </dvi>
      </main>
    </div>
  </body>
</html>
