<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="../styles/tasks.css"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <meta charset="utf-8">
    <title>Tasks</title>
  </head>
  <body>
    <nav class="e-navigation">
        <div class="e-list-item">
          <span>Pool</span>
        </div>
        <div class="e-list-item">
          <span>Tasks</span>
        </div>
        <div class="e-list-item e-caution">
          <span>Exit</span>
        </div>
    </nav>
    <div class="e-content">
      <header class="e-content__header e-toolbar">
          <div class="e-toolbar__nav">
            <span class="e-font-icon"></span>
          </div>
          <div class="e-toolbar__title">
            <span>Tasks</span>
          </div>
          <div class="e-toolbar__menu">
            <span class="e-font-icon e-icon-plus"></span>
          </div>
      </header>
      <main class="e-content__body">
        <div class="e-group-title e-list-item"><span>Unassigned</span></div>
        <div class="e-list-item"><span>Thing 1</span></div>
        <div class="e-group-title e-list-item"><span>On going</span></div>
        <div class="e-list-item"><span>Thing 1</span></div>
      </main>
    </div>
  </body>
</html>
