<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="../styles/tasks.css"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <title>Tasks</title>
  </head>
  <body>
    <div class="e-toolbar">
      <div class="e-drawerAndUp">
        <img src="../images/ic_menu_white.png" alt="Open drawer"/>
      </div><div class="e-title">
        <span>Tasks</span>
      </div><div class="e-menu">
        <img src="../images/ic_plus.png" alt="Add new task"/>
      </div>
    </div>
    <div class="e-content">
      <div class="e-group-title e-list-item"><span>Unassigned</span></div>
      <div class="e-list-item"><span>Thing 1</span></div>
      <div class="e-group-title e-list-item"><span>On going</span></div>
      <div class="e-list-item"><span>Thing 1</span></div>
    </div>
  </body>
</html>
