<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="../styles/taskdetails.css"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <meta charset="utf-8">
    <title>Task details</title>
  </head>
  <body>
    <div class="e-content">
      <header class="e-content__toolbar e-toolbar">
          <div class="e-toolbar__nav">
            <span class="e-font-icon">&#xf124;</span>
            <span>Tasks</span>
          </div>
          <div class="e-toolbar__title">
            <span>Tasks</span>
          </div>
          <div class="e-toolbar__menu">
          </div>
      </header>
      <main class="e-content__body">
        <p class="e-info-item e-name">Task title</p>
        <p class="e-info-item e-additional">sub task title</p>
        <p class="e-info-item">Task assignee</p>
        <p class="e-info-item">from Nov - to Dec</p>
        <p class="e-info-item">!!!high importance</p>
        <p class="e-list-item e-caution">Delete</p>
      </main>
    </div>
  </body>
</html>
