<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="../styles/template.css"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <title>Pool</title>
  </head>
  <body>
    <nav class="e-navigation">
      <div class="e-navigation">
        <div class="e-list-item">
          <span>Pool</span>
        </div>
        <div class="e-list-item">
          <span>Tasks</span>
        </div>
        <div class="e-list-item e-caution">
          <span>Exit</span>
        </div>
      </div>
    </nav>
    <div class="e-content">
      <header class="e-content__header">
          <div class="e-toolbar">
            <div class="e-toolbar__nav">
              <img src="../images/ic_menu_white.png" alt="Open drawer"/>
            </div><div class="e-toolbar__title">
              <span>Tasks</span>
            </div><div class="e-toolbar__menu">
              <img src="../images/ic_plus.png" alt="Add new task"/>
            </div>
          </div>
      </header>
      <main class="e-content__body">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut ut hendrerit mi, id gravida ex. In molestie nisl non urna interdum gravida. Sed risus neque, luctus non nibh at, luctus imperdiet quam. Donec pharetra eros vel dolor finibus facilisis. Etiam vestibulum orci et tincidunt molestie. Nullam vestibulum luctus leo vitae pulvinar. Vivamus nisl sem, faucibus vel lectus et, vehicula lacinia metus. Phasellus eu efficitur neque. Mauris non justo mollis, laoreet tellus ut, tristique sem. Morbi lobortis nisi eget metus iaculis, non ultricies metus cursus. Ut eleifend nisl tortor. In placerat, nisl eu iaculis scelerisque, nisl ipsum dapibus tellus, id porta leo nisi id diam. Praesent ac ultrices massa.

Proin at dignissim lorem. Aenean sit amet ligula purus. Donec id mattis massa. Proin fermentum congue nulla quis pulvinar. Cras consectetur felis a lacus egestas efficitur. Fusce sit amet nibh ornare dui feugiat malesuada vel ultricies nisl. Integer non est ut ligula vehicula dapibus. Aenean egestas enim eget leo porttitor, vel tempor sem eleifend. Nam sit amet suscipit enim. Etiam pellentesque, mauris in vehicula auctor, metus lectus suscipit urna, a ultricies libero ante ac odio. Etiam vitae eros sed lacus laoreet interdum sit amet et nunc. Fusce hendrerit pellentesque sem, et euismod eros auctor nec. Interdum et malesuada fames ac ante ipsum primis in faucibus.

Fusce nec metus tortor. </main>
    </div>
  </body>
</html>
