/* Gets from web site proto.io*/
.onoffswitch {
  margin: auto 8px auto 0;
  position: relative; width: 40px;
  -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
.onoffswitch-checkbox {
  display: none;
}
.onoffswitch-label {
  display: block; overflow: hidden; cursor: pointer;
  height: 24px; padding: 0; line-height: 24px;
  border: 2px solid #CCCCCC; border-radius: 24px;
  background-color: #FFFFFF;
  transition: background-color 0.3s ease-in;
}
.onoffswitch-label:before {
  content: ""; height: 24px;
  display: block; width: 24px; margin: 0px;
  background: #FFFFFF;
  position: absolute; top: 0; bottom: 0;
  right: 14px;
  border: 2px solid #CCCCCC; border-radius: 24px;
  transition: all 0.3s ease-in 0s;
}
.onoffswitch-checkbox:checked + .onoffswitch-label {
  background-color: #29B6F6;
}
.onoffswitch-checkbox:checked + .onoffswitch-label, .onoffswitch-checkbox:checked + .onoffswitch-label:before {
 border-color: #29B6F6;
}
.onoffswitch-checkbox:checked + .onoffswitch-label:before {
  right: 0px;
}
