@font-face {
    font-family: RobotoRegular;
    src: url(Roboto-Regular-webfont.woff);
}

html {
  height: 100%;
}

body {
  font-family: RobotoRegular;
  margin: 0px;
  height: 100%;
  color: #616161;
  font-size: 14px;
}

.toolbar {
  position: fixed;
  background-color: #29B6F6;
  height: 40px;
  width: 100%;
  color: #FFF;
}

.toolbar span, img{
  display: inline-block;
  margin: 0;
  padding: 0;

  vertical-align: middle;
}

.toolbar img{
  width: 36px;
  height: 36px;
}

.toolbar .drawerAndUp{
  display: inline-block;
  width: 30%;
  padding-top: 2px;
  padding-left: 4px;
  box-sizing: border-box;
}

.toolbar .title{
  display: inline-block;
  font-weight: bold;
  text-align: center;
  width: 40%;
  box-sizing: border-box;
}

.toolbar .menu{
  display: inline-block;
  width: 30%;
  text-align: right;
  box-sizing: border-box;
  padding-right: 8px;
}

.content {
  padding-top: 40px;
}

.list-item {
  padding: 10px;
  border-bottom: 1px solid #d3d3d3;
  color: #616161;
  width: 100%;
  box-sizing: border-box;
}


.group-title {
  font-weight: bold;
  background-color: #EEEEEE;
  border-bottom: 1px solid #E0E0E0;
}

/* Define style for exit button in drawer */
.caution-button {
  margin-top: 6px;
  padding: 10px;
  color: white;
  background-color: red;
  text-align: center;
}

.top-bordered {
  border-top: 1px solid #E0E0E0;
}

img.photo {
  display: block;
  margin: 0 auto;
}

hr.divider {
  color: #d3d3d3;
}

.drop-down-item {
  display: flex;
  justify-content: space-between;
}

.checked-item {
  padding: 6px 8px;
  line-height: 36px;
  display: flex;
  justify-content: flex-start;
}

.dropdawn-arroy {
  margin: auto 0;
  display: inline-block;
  border-top: 5px solid #616161;
  border-left: 5px solid #FFF;
  border-right: 5px solid #FFF;
  height: 0px;
  width: 0px;
}

.custom-checkbox-container {
    margin: auto 8px auto 0;
}

.text-title {
  color: #212121;
  font-weight: bold;
  font-size: 24px;
}

.text-subtitle {
  font-weight: bold;
  font-size: 16px;
}

p {
  margin: 8px;
}
