@font-face {
    font-family: RobotoRegular;
    src: url(Roboto-Regular-webfont.woff);
}

html {
  height: 100%;
}

body {
  font-family: RobotoRegular;
  margin: 0px;
  height: 100%;
  color: #616161;
  font-size: 14px;
}

.toolbar {
  position: fixed;
  background-color: #29B6F6;
  height: 40px;
  width: 100%;
}

.toolbar span, img{
  display: inline-block;
  margin: 0;
  padding: 0;

  line-height: 40px;
  vertical-align: middle;
}

.toolbar .drawerAndUp{
  width: 30%;
  color: #FFF;
}

.toolbar .title{
  color: #FFF;
  font-weight: bold;
  text-align: center;
  width: 40%;
}

.toolbar .menu{
  width: 30%;
  text-align: right;
}

.content {
  padding-top: 48px;
}

.listitem {
  padding: 10px;
  border-bottom: 1px solid #d3d3d3;
  color: #616161;
}

.grouptitle {
  padding: 8px 10px;
  font-weight: bold;
  background-color: #EEEEEE;
  border-bottom: 1px solid #E0E0E0;
}

img.photo {
  display: block;
  margin: 0 auto;
}
